:root{
    --text-color:#434455;
    --brand-color:#4D5AE5;
    --back-color:#404BBF;
    --light-color:#F4F4FD;
    --fone-color:#E7E9FC;
    --dark-color:#2E2F42;
    --basic-color:#434455;

}
body{
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: var(--basic-color);
}
.web{
    color:var(--brand-color);
        font-family: 'Raleway';
            font-style: normal;
            font-weight: 800;
            font-size: 18px;
            line-height: 1.333;
}
.studio{
    color: var(--dark-color);
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.333;
}
a{
    color: var(--basic-color);
 text-decoration: none;
}
.social-links a{
    color: var(--dark-color);
   font-family: inherit;
font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;     
}
.social-links{
    list-style: none;
}
.social-links a:hover,
.social-links a:focus{
    color: var(--brand-color);
}

.contacts{
    list-style: none;
}
.mail{
    color:var(--text-color);
        font-family: inherit;
        font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
}
.mail:hover,
.mail:focus {
    color: var(--brand-color);
}
.phone{
    color: var(--text-color);
        font-family: inherit;
        font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
}
.phone:hover,
.phone:focus{
    color: var(--brand-color);
}
         

.section-baner{
    background-color: var(--dark-color);
}
h1{
    color:#FFFFFF ;
        font-family: inherit;
            font-weight: 700;
            font-size: 56px;
            line-height: 1.2;
}
.button{
    color: #FFFFFF;
    cursor: pointer;
    background-color:var(--brand-color) ;
    border-radius: 4px;
 
}
.button:hover{
    background-color: var(--back-color);
}
.sextion-text{
background-color: #dada2a;
}
.title{
    list-style: none;

}
.section-paragraph{
    background-color: #FFFFFF;
}
h3{
    color:var(--dark-color);
            font-weight: 500;
            font-size: 20px;
            line-height: 1.2;
}
.text{
    color: var(--text-color);
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
}
h2{
    color: #2E2F42;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.111;
}
.photo{
    list-style: none;
}
.section-team{
    background-color:var(--light-color);
}
.section-devices{
    background-color: #FFFFFF;
}
.main-team{
    color: var(--dark-color);
        font-weight: 700;
        font-size: 36px;
        line-height: 1.111;
}
.name-team{
    list-style: none;
}
.image-card{
    background-color: #FFFFFF;
}
.team{
    color: var(--dark-color);
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
}
.job-title{
    color: var(--text-color);
    font-family: inherit;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
}
.footer{
    background-color: var(--dark-color);

}
.web {
    color: var(--brand-color);
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.333;
    
}
.studio-footer {
    color: var(--light-color);
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.333;
}
.text-paragraph{
    color: var(--fone-color);
    font-family: inherit;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
}
.main-studio{
    background-color: #FFFFFF;
}
.main-button{
   list-style: none;
}
.button-all{
    cursor: pointer;
    color: var(--brand-color);
    background-color: var(--light-color);
    font-family: inherit;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
    border: 1px solid var(--light-color);;
        border-radius: 4px;
}
.button-all:hover{
    color: var(--light-color);
    background-color: var(--back-color);
}
.button-all:focus{
    color: var(--light-color);
    background-color: var(--back-color);
}
.button-web{
    cursor: pointer;
    color: var(--brand-color);
    background-color: var(--light-color);
    font-family: inherit;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        border: 1px solid var(--fone-color);
            border-radius: 4px;
}
.button-web:hover,
button-web:focus{
    color: #FFFFFF;
    background-color: var(--back-color);
}
.list{
    list-style: none;
}
.list-portfolio{
    color: var(--dark-color);
    font-family: inherit;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
}
.text-portfolio{
    color: var(--text-color);
    font-family: inherit;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
}
.footer-portfolio{
    background-color:var(--dark-color);
}

